.edit{
    width: 550px;
}

.config{
    font-size: 20px;
}

.auto{
    font-size: 18px;
}

.user{
    font-size: 18px;
    width: 40px;
}

.imgdes{
    width: 140px;
    height: 70px;
}

.tituloDes{
    display: inline-block;
    vertical-align: top;
  }

.check{
    width: 40px;
    font-size: 20px;
}

.seccion2{
    color:white;
    font-size: 18px;
    
}

.button{
    font-size: 10px;
}



.button2{
    width: 110px;
    margin-left: 35%;
    transform: translateX(-50%);
}

