<ion-header>
  <ion-toolbar>
    <ion-searchbar showCancelButton="always"></ion-searchbar>
    <ion-title>Descargas</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-icon class="edit" name="pencil"></ion-icon>
  <ion-card-subtitle class="auto"><ion-icon class="config" name="cog-sharp"></ion-icon>Autodescargas</ion-card-subtitle>
  <br>
  <div><ion-icon class="user" name="person-sharp"></ion-icon><b>Usuario</b></div>
  <div><img class="imgdes" src="../../assets/des1.png"/><p class="tituloDes"><b>El Hombre Gris</b><ion-icon class="check" name="checkmark-sharp"></ion-icon><br><br><ion-card-subtitle class="d1">13+ |612 MB</ion-card-subtitle></p></div>
  <div><img class="imgdes" src="../../assets/des2.png"/><p class="tituloDes"><b>Lucifer</b><ion-icon class="check" name="checkmark-sharp"></ion-icon><br><br><ion-card-subtitle class="d1">13+ |1 episodio 196 MB</ion-card-subtitle></p></div>
  <div><img class="imgdes" src="../../assets/des3.png"/><p class="tituloDes"><b>Manifiesto</b><ion-icon class="check" name="checkmark-sharp"></ion-icon><br><br><ion-card-subtitle class="d1">13+ |1 episodio 171 MB</ion-card-subtitle></p></div>
  <div><img class="imgdes" src="../../assets/des4.png"/><p class="tituloDes"><b>Cobra Kai</b><ion-icon class="check" name="checkmark-sharp"></ion-icon><br><br><ion-card-subtitle class="d1">13+ |1 episiodio 175 MB</ion-card-subtitle></p></div>
  <br>
  <br>
  <br>
  <br>
  <ion-card-title class="seccion2"><b>Presentación de Descargas para ti</b></ion-card-title>
  <br>
  <ion-card-subtitle>Descargaremos una selección personalizada de peliculas y series para que nunca te falte algo para ver en el teléfono</ion-card-subtitle>
  <br>
  <img class="sugerencia" src="../../assets/des5.png"/>
  <br>
  <ion-button expand="full" class="button1"><b>Configurar</b></ion-button>
  <br>
  <br>
  <br>
  <div class="button2"><ion-button size="secondary" color="dark">Buscar más para descargar</ion-button></div>
</ion-content>
