.noti{
    width: 600px;
}

.prox{
    background: rgb(255, 255, 255);
        font-weight: 500;
        border-radius: 10px;
        color: #000;
        padding: 2px;
        width: 110%;
        bottom: 1px;
}

.prox1{
    font-size: 20px;
    color: gray;

}

.datep1{
    font-size: 40px;
}

.p1{
    width: 600;
}

.sub1{
    color: white;
    font-size: 16px;
}

.list1{
    display: inline;
}