<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo y popular</ion-title>
    <ion-icon class="noti" name="notifications"></ion-icon>
  </ion-toolbar>
  <div>
    <ion-slides>
    <ion-slide class="prox">
      <span><b>Proximamente</b></span>
    </ion-slide>
    <ion-slide>
      <span><b>Lo más cool</b></span>
    </ion-slide>
    <ion-slide>
      <span><b>Las 10 series más populares</b></span>
    </ion-slide>
</ion-slides>
</div>
</ion-header>


<ion-content>

  
  <div class="prox1">sept.</div>
  <div class="datep1"><b>16</b></div>
  <ion-card>
    <img src="../../assets/prox1.png" />
    <ion-card-header>
      <ion-card-subtitle class="sub1"><b>Temporada 2 disponible el viernes</b></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Bloom creia que las hadas eran un invento. Pero al enterarse de que ella es una debe aceptar sus nuevos poderes
      y amistades mientras enfrentra a monstruos letales.
    </ion-card-content>
  </ion-card>

  <div class="prox1">sept.</div>
  <div class="datep1"><b>16</b></div>
  <ion-card>
    <img src="../../assets/prox2.png" />
    <ion-card-header>
      <ion-card-subtitle class="sub1"><b>Estreno el viernes</b></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Una chica popular destronada en una escuela privada hace un acuerdo secreto con una una nueva estudiante
      para vengarse de los enemigos de ambas.
    </ion-card-content>
  </ion-card>

  <div class="prox1">sept.</div>
  <div class="datep1"><b>20</b></div>
  <ion-card>
    <img src="../../assets/prox3.png" />
    <ion-card-header>
      <ion-card-subtitle class="sub1"><b>Estreno el viernes</b></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Plagada de momentos dignos de memes, esta comedia aclamada por la critica aborda
      temas actuales, con el lugar de trabajo como eje central para el humor.
    </ion-card-content>
  </ion-card>

  <div class="prox1">sept.</div>
  <div class="datep1"><b>28</b></div>
  <ion-card>
    <img src="../../assets/prox4.png" />
    <ion-card-header>
      <ion-card-subtitle class="sub1"><b>Estreno el viernes</b></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Este retrato ficticio de Marilyn Monroe ofrece una mirada audaz de la
      tumultuosa vida privada de la leyenda de Hollywood... y del precio que pagó
      por la fama
    </ion-card-content>
  </ion-card>

</ion-content>
