<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="buscar">
        <ion-icon name="game-controller-outline"></ion-icon>
        <ion-label>Juegos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="proximamente">
        <ion-icon name="play-circle-outline"></ion-icon>
        <ion-label>Nuevo y popular</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="mas">
        <ion-icon name="happy-outline"></ion-icon>
        <ion-label>Para reir</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="descargas">
        <ion-icon name="download-outline"></ion-icon>
        <ion-label>Descargas</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  
  </ion-tabs>
  